# Extensions to ignore
*.npy

# Directories to ignore
*__pycache__/
_hidden/
data/stl10/
data/cifar10/
data/cifar100/
TrainedModels/
.idea/

# Files to ignore
m3.bat
normal_similarities.json
similarity_threshold.json
TODO.md